# serets
.json
# _pycache_
__pycache__/
# data
data/

.DS_Store

# Ignore everything in outputs/
outputs/*

# keep the output csv for now
!outputs/processed_text_data.csv

# ignore the test file
test_simplified_url_processing.py
debug_file_reading.py

# environemnt
.env